.carouselWindow {
  width: 100%;
  height: 100%;
  background-color: #000;

  .carousel.carousel-slider {
    height: calc(100% - 100px);
    border-radius: 5px 0 0 0;
    position: relative;

    & .control-prev {
      &::before {
        border: 0;
        background-image: url('../../commonimgs/mangoplate_sprites_desktop.png');
        background-position: -935px -281px;
        width: 28px;
        height: 45px;
        opacity: 0.8;
      }
    }

    & .control-next {
      &::before {
        border: 0;
        background-image: url('../../commonimgs/mangoplate_sprites_desktop.png');
        background-position: -935px -332px;
        width: 28px;
        height: 45px;
        opacity: 0.8;
      }
    }

    & .slider-wrapper {
      width: 100%;
      height: 100%;

      & .slider {
        width: 100%;
        height: 100%;

        & .slide {
          width: 100%;
          height: 100%;

          .imgWrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            position: relative;

            .carouselImages {
              width: 650px;
              height: 800px;
            }

            h1 {
              position: absolute;
              top: 0;
              right: 18%;
              font-size: 1.5rem;
              transform: translateY(15px);
              color: #ff792a;
            }

            h3 {
              position: absolute;
              top: 15%;
              right: 35%;
              font-size: 2rem;
            }

            .evalFace {
              position: absolute;
              width: 55px;
              height: 55px;
              top: 30px;
              right: 20px;
            }

            .evalText {
              position: absolute;
              top: 100px;
              right: 22px;
              width: 50px;
              font-size: 1.5rem;
              color: #ff792a;
            }

            p {
              background: #fff;
              width: 50%;
              font-size: 2rem;
              line-height: 120%;
            }
          }
        }
      }
    }
  }

  .carousel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .thumb {
      border: 0;
      margin-right: 3px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .thumb.selected {
      border: 0;
      position: relative;

      &::before {
        display: none;
      }
    }
  }
}
