@import '../common.scss';
footer {
  padding-top: 65px;
  font-size: $fontsize;
  .footer__inner {
    display: flex;
    justify-content: space-between;

    .footer__logo {
      font-size: 2rem;
    }

    .link__list {
      width: 300px;
      line-height: 1.5;
    }
  }
}
