@import '../../commons.scss';

// mobile vertical, mobile horizontal, tablet device
.mapSection {
  display: none;
}

// desktop(or laptop) device
@include desktop {
  .mapSection {
    position: absolute;
    display: block;
    width: 400px;
  }

  .loadingIndicator {
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}