@import '../../commons.scss';
// media query width
// mobile: max-width 576px
// tablet: man-width 768px
// desktop: man-width 992px

// mobile device vertical mode (max-width: 576px)
.outerSection {
  width: 100%;
  border: 1px solid green;

  .innerSection {
    width: 100%;
    border: 1px solid yellow;
    padding: 30px 10px;

    .listInfo {
      padding: 0 15px;
      border: 1px solid blue;

      .listTitle {
        font-size: 2.3rem;
        font-weight: 500;
        color: $main-color;
      }
    }

    .listSection {
      margin-top: 20px;

      .listRestaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .listItem {
          border: 1px solid black;
          width: calc(50% - 10px);

          .thumb {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .info {
            padding-top: 3px;

            .name {
              display: inline-block;
              font-size: 2rem;
              font-weight: 500;
              color: #555;
            }

            .score {
              font-size: 2rem;
              font-weight: 500;
              color: $main-color;
              margin-left: 7px;
            }

            .etcInfo {
              margin-top: 4px;
              line-height: 1.7rem;

              .location,
              .type {
                font-size: 1.4rem;
                color: #9b9b9b;
              }
            }

            .countInfo {
              line-height: 1.7rem;

              .viewCount::before {
                content: '';
                display: inline-block;
                margin-right: 3px;
                background-image: url(./mangoplate_sprites_mobile.png);
                background-position: -618px -477px;
                width: 13px;
                height: 9px;
              }

              .reviewCount::before {
                content: '';
                display: inline-block;
                margin-right: 2px;
                margin-left: 8px;
                background-image: url(./mangoplate_sprites_mobile.png);
                background-position: -618px -558px;
                width: 9px;
                height: 9px;
              }

              .viewCount,
              .reviewCount {
                font-size: 1.1rem;
                color: #9b9b9b;
              }
            }

          }

        }
      }
    }
  }
}

// mobile device horizontal mode (577px to 768px)
@include mobileHorizontal {
  .outerSection {
    width: 100%;
    border: 1px solid green;

    .innerSection {
      width: 100%;
      border: 1px solid yellow;
      padding: 30px 50px;
    }
  }
}

// tablet device (769px to 992px)
@include tablet {
  .outerSection {
    width: 100%;
    border: 1px solid green;

    .innerSection {
      width: 100%;
      border: 1px solid yellow;
      padding: 30px 100px;
    }
  }
}

// desktop(or laptop) device (993px +)
@include desktop {
  .outerSection {
    width: calc(100% - 400px);
    min-width: 950px;
    border: 1px solid green;

    .innerSection {
      width: 100%;
      border: 1px solid yellow;
      padding: 30px 100px;
    }
  }
}